// Apply these styles to every element in a wrapper but the first one
// ignore style tags
// Use it to easily apply equal flow space on all elements in a wrapper
.flow > *:not(style) + * {
  margin-top: var(--flow-space, 1rem);
}

/* ------------- Background colors --------------- */
.background-color-A {
  background: none repeat scroll 0 0 #aaa;
}

.background-color-B {
  background: none repeat scroll 0 0 #bbb;
}

.background-color-C {
  background: none repeat scroll 0 0 #ccc;
}

.background-color-D {
  background: none repeat scroll 0 0 #56af45;
}

.background-color-E {
  background: none repeat scroll 0 0 #e8860c;
}

.background-color-F {
  background: none repeat scroll 0 0 #e51400;
}

/* ------------- Foregoround colors --------------- */
.color-A {
  color: #aaa;
}

.color-B {
  color: #bbb;
}

.color-C {
  color: #ccc;
}

.color-D {
  color: #56af45;
}

.color-E {
  color: #e8860c;
}

.color-F {
  color: #e51400;
}

.gw-border-right {
  border-right: 1px solid var(--gw-clr-border, var(--clr-neutral-300)) !important;
}

.ff-goobi {
  font-family: Goobi2;
}

.gw-col-padding {
  padding: var(--col-padding, 8px);
}

.break-words {
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.gw-hyphens-none {
  hyphens: none;
}

.gw-card {
  padding: 1rem;
  border: var(--gw-border);
  border-radius: var(--gw-border-radius);
}

.goobiScript-image{
	height: 32px;
}

.goobiScript-source{
	padding: 0.3125rem;
	background: none repeat scroll 0 0 #eee;
	border: 1px solid #ced4da;
}

// use this on content that should not exceed lower edge of viewport
.vertical-fit {
  max-height: calc(100vh - 265px);
}

.white-space-pre {
  white-space: pre;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.preformatted {
  white-space: pre;
  font-size: 13px;
  color: var(--clr-neutral-600);
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: var(--clr-neutral-200);
}

/* ------------- Legacy statistics --------------- */
.standardTable {
    border: 1px solid var(--gw-clr-border, var(--clr-neutral-300)) !important;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    border-spacing: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.normdataTable {
    vertical-align: top;
    padding: 3px;
}

.standardTable_Header, .standardTable_Column, .standardTable_ColumnRight {
    border-top: 1px solid var(--gw-clr-border, var(--clr-neutral-300)) !important;
    line-height: 1.42857;
    padding: 8px !important;
    vertical-align: top;
}

/* ========================================
 * No min-height
 * ====================================== */

.min-vh-0{
  min-height: 0 !important;
}


/* ========================================
 * Widths
 * ====================================== */

.gw-width1{
  width: 10px;
}

.gw-width2{
  width: 20px;
}

.gw-width3{
  width: 30px;
}

.gw-width4{
  width: 40px;
}

.gw-width5{
  width: 50px;
}

.gw-width6{
  width: 75px;
}

.gw-width7{
  width: 100px;
}

.gw-width8{
  width: 150px;
}

.gw-width9{
  width: 200px;
}

.gw-width10{
  width: 250px;
}

.gw-width11{
  width: 300px;
}

/* ========================================
 * BS 5 Overrides
 * ====================================== */

.mt-2 {
  margin-top: 0.25rem !important;
}

.mt-4 {
  margin-top: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.25rem !important;
}

.mb-4 {
  margin-bottom: 0.5rem !important;
}

.ms-2 {
  margin-left: 0.25rem !important;
}

.ms-4 {
  margin-left: 1.25rem !important;
}

.me-2 {
  margin-right: 0.25rem !important;
}

.me-4 {
  margin-right: 0.5rem !important;
}
