/* ==========================================
 * This CSS will be loaded optionally
 * => if `enhanced accessibility` is enabled (user settings)
 * ======================================= */


body.accessibility-mode {
  --clr-primary-400: #1f79cc;
  --clr-neutral-400: #767676;
  --clr-action: #cb4e00;
  --clr-box-action: #cb4e00;
  --clr-box-primary: #1f79cc;

  .badge-intranda-ultralight {
    background-color: var(--clr-neutral-400) !important;
  }

  .badge-light-orange {
    color: var(--clr-action) !important;
    border-color: var(--clr-action) !important;
  }

  // high contrast progress indicators
  // formerly: easy-read or low_vision mode
  .colors.small13 > [class*="easy-read-status-"] {
    height: initial;
    width: initial;
  }

  .statusRectangle,
  .statusSmall {
    align-items: center;
    border: 1px solid black;
    display: inline-flex;
    height: 1em;
    width: 1em;
    --color-status-done: black;
    --color-status-open: #ddd;
    --color-status-inwork: #bbb;
    --color-status-locked: white;
    --color-status-error: black;
    --color-status-deactivated: #eee;
    & .accessibility-enhancement-text {
      margin-left: 1.5em;
    }
    & + .accessibility-enhancement-text {
      display: inline;
      margin-left: 0.5em;
      vertical-align: middle;
    }
  }

  .status-error {
    background-color: white;
  }

  .status-deactivated {
    background-color: black;
    background-image: repeating-linear-gradient(
      0deg,
      var(--color-status-deactivated),
      var(--color-status-deactivated) 3px,
      transparent 3px,
      transparent 6px
    );
  }

  .progress__container {
    display: flex;
    height: 15px;
    justify-content: center;
    margin-top: 0.4375rem;
    --color-progress-success: black;
    --color-progress-warning: #ddd;
    --color-progress-danger: white;
  }

  .progress-bar {
    border: 1px solid black;
    border-inline-end-width: 0;
    box-shadow: none;
    &:last-of-type {
      border-inline-end-width: 1px;
    }
  }

  .progress-bar-locked {
    background-color: var(--color-progress-success);
  }

  .progress-bar-error {
    background-color: var(--color-progress-success);
    background-image: repeating-linear-gradient(
      45deg,
      var(--color-progress-warning),
      var(--color-progress-warning) 5px,
      transparent 5px,
      transparent 10px
    );
  }
}


/* FOR REFERENCE => Old styles */

/* Header navigation */
///*
//#navigation {
//	background: #1F79CC;
//}
//*/
//
///* info boxes */
///*
//.background-color-A {
//	background: #767676;
//}
//*/
//
///* ++++++++++++++++++++ BOX COLORS ++++++++++++++++++++ */
//
///* .box.box-color.blue.box-bordered .box-title { */
///* 	background: #1f79CC !important; */
///* } */
//
///* /* box header background */ */
///* .box.box-color .box-title { */
///* 	background: #1F79CC; */
///* } */
//
///* /* box header border */ */
///* .box.box-bordered.box-color .box-title { */
///* 	border-color: #1F79CC; */
///* } */
//
///* /* box border */ */
///* .box.box-bordered.box-color .box-content { */
///* 	border-color: #1F79CC; */
///* } */
//
///* /* tabs background gray */ */
///* .tabs.tabs-inline.tabs-top > li > a { */
///* 	background: #E6E6E6; */
///* } */
//
//
///* /* add file groups button */ */
///* .box.box-color.grey-4 .btn.btn-primary { */
///* 	background: #444; */
///* } */
//
///* /* bright font in orange boxes */ */
///* .box.box-color .box-title h3.-white { */
///* 	color: #fff; */
///* } */
///* .box.box-color .box-title h2.-white { */
///* 	color: #fff; */
///* } */
//
///* /* dark font in orange boxes */ */
///* .box.box-color .box-title h3.-black { */
///* 	color: #2A2A2A; */
///* } */
///* .box.box-color .box-title h2.-black { */
///* 	color: #2A2A2A; */
///* } */
//
///* /* box header in edit pages */ */
///* .box.box-bordered.box-color.orange .box-title { */
///*  	background: #cb4e00 !important; */
///* 	border-color: #cb4e00 !important;  */
///* } */
//
///* /* box border in edit pages */ */
///* .box.box-bordered.box-color.orange .box-content { */
///* 	border-color: #cb4e00 !important;  */
///* } */
//
///* /* active and hover Links in box header */ */
///* .box.box-color .box-title .tabs > li.active > button, */
///* .box.box-color .box-title .tabs > li.active > a { */
///* 	color: #2a2a2a; */
///* } */
//
///* .box.box-color .box-title .tabs > li.active > button:hover, */
///* .box.box-color .box-title .tabs > li > a:hover { */
///* 	color: #2a2a2a;    */
///* } */
//
///* /* user groups apply button */ */
///* .box.box-color.orange .btn.btn-primary { */
///* 	background: #cb4e00 !important;   */
///* } */
//
///* /* box header tabs */ */
///* .box.box-color .box-title .tabs>li>span { */
///* 	color: #fff; */
///* } */
//
///* /*  ++++++++++++++++++++ BUTTONS ++++++++++++++++++++ */ */
//
///* /* primary button */ */
///* .btn.btn-primary { */
///* 	background: #1F79CC; */
///* } */
//
///* /* save button */ */
///* .btn.btn-success { */
///* 	background: #008900; */
///* } */
//
///* /* delete button */ */
///* .btn.btn-danger { */
///* 	background: #ed061d; */
///* } */
//
///* .btn.btn-blue { */
///* 	background-color: #2279CB; */
///* } */
//
///* .box.box-color.blue .btn.btn-primary { */
///* 	background: #1F78CF; */
///* } */
//
///* .btn.btn--icon.btn--icon-blue { */
///* 	background: #2C7AC1; */
///* } */
//
///* /*  ++++++++++++++++++++ LABELS AND BADGES ++++++++++++++++++++ */ */
//
///* .label-intranda-green, .badge-intranda-green { */
///* 	background-color: #318731; */
///* } */
//
///* .label-light-green, .badge-light-green { */
///* 	color: #318731; */
///* 	border-color: #318731; */
///* } */
//
///* .label-light-orange, .badge-light-orange { */
///* 	color: #AC630C; */
///* 	border-color: #AC630C; */
///* } */
//
///* .label-light-blue, .badge-light-blue { */
///* 	color: #1F79CC; */
///* 	border-color: #1F79CC; */
///* } */
//
///* .badge-intranda-light { */
///* 	background-color: #777772; */
///* } */
//
///* .badge-intranda-ultralight { */
///* 	background-color: #767676; */
///* } */
//
///* /* ++++++++++++++++++++ FONTS ++++++++++++++++++++ */ */
//
///* .font-danger { */
///* 	color: #EB0000; */
///* } */
//
///* .font-light { */
///* 	color: #767676; */
///* } */
//
///* .font-white { */
///* 	color: #FFFFFF; */
///* } */
//
///* /* +++++++++++++++++++++++ TEXT COLORS ++++++++++++++ */ */
//
///* .log_color_error { */
///* 	color: #EE0000; */
///* } */
//
///* .box .box-title .tableColumnMaxWidthExtraLong { */
///* 	color: #333333; */
///* } */
//
///* #zoomSliderLabel.font-light input, #zoomSliderLabel.font-light span{ */
///* 	color: #FFFFFF; */
///* 	opacity: 1; */
///* } */
//
///* div span.font-light { */
///* 	color: #757575; */
///* } */
//
///* .box .box-title h2.tableColumnMaxWidthExtraLong { */
///* 	color: #FFFFFF; */
///* } */
//
///* .log_color_debug { */
///* 	color: #757776; */
///* } */
//
///* div.module__box-body .unselected { */
///* 	color: #777678; */
///* } */
//
///* div.modal-header button.close { */
///* 	opacity: 1; */
///* } */
//
///* #meMenuActionsForm ul.clean li ul.clean.submenu li.active a { */
///* 	color: #FFFFFF; */
///* } */
//
///* /* ++++++++++++++++++++ GENERAL ELEMENTS ++++++++++++++++++++ */ */
//
///* h3 { */
///* 	font-size: 14px; */
///* 	margin-top: 10px; */
///* }  */
//
///* /* file upload button */ */
///* #upload .ui-fileupload-choose { */
///* 	background: #1F79CC; */
///* } */
//
///* /* file upload input */ */
///* .ui-fileupload-buttonbar .ui-fileupload-choose input { */
///* 	font-size: inherit; */
///* 	display: none; */
///* } */
//
///* .folder--line { */
///* 	font-size: 24px; */
///* } */
//
///* #pageMenu.page-menu { */
///* 	background-color: #2C7AC1; */
///* } */
//
///* .thumbnails__thumb.active { */
///* 	background-color: #1F79CC; */
///* } */
//
//
///* div.goobi-thumbnail.img-active { */
///* 	background-color: #1A77CE; */
///* } */
//
///* .btn.btn-green.font-size-s { */
///* 	background-color: #208920; */
///* } */
//
///* #meMenuActionsForm ul.clean li ul.clean.submenu li.active { */
///* 	background-color: #1F79CC; */
///* } */
//
///* #meMenuActionsForm ul.clean li ul.clean.submenu { */
///* 	border: 2px solid #1F79CC; */
///* } */
//
///* /* ++++++++++++++++++++ LINKS +++++++++++++++++++++++++++++++++++ */ */
//
///* #tasks\:sortStepTitle, #tasks\:sortProject { */
///* 	background-image: none; */
///* 	image: none; */
///* } */
//
///* .font18px { */
///* 	font-size: 18px; */
///* } */
//
///* a { */
///* 	color: #1F79CC; */
///* } */
//
///* /* ++++++++++++++++++++ MODAL +++++++++++++++++++++++++++++++++++ */ */
//
///* div#gndModalContent.modal-content div.modal-header, div#viafModalContent.modal-content div.modal-header { */
///* 	background-color: #1F79CC; */
///* } */
//
///* div#gndModalContent.modal-content, div#viafModalContent.modal-content { */
///* 	border: 2px solid #1F79CC; */
///* } */
//
///* .modal .modal-dialog .modal-content { */
///*     border: 2px solid #1F79CC; */
///* } */
//
///* .modal .modal-dialog .modal-content .modal-header { */
///*     color: #fff; */
///*     background-color: #1F79CC; */
///* } */
//
///* /*++++++++++++++++++++++++++++ BACKGROUND ++++++++++++++++++++++ */ */
//
///* html body.login { */
///* 	background-color: #1F79CC; */
///* } */
//
///* /*+++++++++++++++++++++++++++ API Description +++++++++++++++++*/ */
//
///* .swagger-ui .opblock.opblock-get .opblock-summary-method { */
///* 	background-color: #0174E6 !important; */
///* } */
//
///* .swagger-ui .opblock.opblock-post .opblock-summary-method { */
///* 	background-color: #218756 !important; */
///* } */
//
///* .swagger-ui .btn.authorize{ */
///* 	color: #218756 !important; */
///* } */
//
///* .swagger-ui .btn.authorize{ */
///* 	border-color: #218756 !important; */
///* } */
//
///* .swagger-ui .info a{ */
///* 	color: #1F79CC !important; */
///* } */
//
