/* ========================================
 * Styles for
 *
 * user_all.xhtml
 * user_config.xhtml
 * user_edit.xhtml
 * user_password.xhtml
 * ====================================== */

/* ========================================
 * user_all.xhtml
 * ===================================== */

.view-users {
  &__box--usergroup-1,
  &__box--usergroup-2,
  &__box--project-1,
  &__box--project-2 {
    .table__actions {
      display: flex;
      align-items: center;
      gap: var(--gap, 8px);
    }

    td {
      vertical-align: middle;
    }
  }
}
