/* Base box */

/* VARIABLES */
.box {
  --box-padding: 1.6rem;
  --box-padding-title: 7px 0 7px 10px;
}

.box.box--small {
  --box-padding-title: 2px 0 2px 5px;
}

.box {
  border: 2px solid var(--clr-neutral, #ddd);
  border-radius: var(--border-radius);
  // margin-top: 1rem; // remove + use flow class on cols in
}

// Limit a box' size to half of the view port, and
// put it in the center of the screen if there is only one box in the view
.box {
  //  max-width: 100rem;
  //  margin: auto;
}

.box__title {
  color: var(--clr-white, #fff);
  display: flex;
  justify-content: space-between;
  padding: var(--box-padding-title);
  border-bottom: 2px solid var(--clr-neutral, #ddd);
  background-color: var(--clr-neutral, #ddd);

  a,
  button {
    color: currentColor;
    .fa {
      color: currentColor;
      font-size: 1.4rem;
    }
  }

  h2 {
    color: currentColor;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin: 3px 0 3px 0;
    .fa {
      margin: 0 10px 0 5px;
    }
  }
}

.box--padded .box__data {
  padding: var(--box-padding);

  // Apply a border-bottom to first level rows only
  // => nested rows will not have a border
  & > .row {
    border-bottom: 1px solid var(--clr-neutral-300);
  }
  // Do not apply padding onto neste cols
  .row > [class^="col-"] .row > [class^="col-"] {
    padding: 0;
  }

  tr {
    border-left: 1px solid var(--clr-neutral-300);
    border-right: 1px solid var(--clr-neutral-300);
  }

  .no-borders tr {
    border: 0;
  }
}

.box--padded {
  /*
  .box__title {
    margin: calc(var(--box-padding) * -1);
    margin-bottom: unset;
  }
  */
}

/* Box content without padding */
.box__content.p-0 {
  /* prevent rows from overlapping boxes */
  .row,
  [class^="col-"] {
    margin: 0;
  }
  .row > [class^="col-"] {
    padding: 1.6rem 0.8rem;
  }

  .form-actions,
  .box__actions,
  .form__actions {
    margin: 1.6rem;
  }
}

/**
 * TABS
 * Some boxes have tabs => box content is changed using ajax calls
 * */

.box {
  .tabs {
    display: flex;
    gap: 0.8rem;
    padding: 2;
    list-style: none;
    margin-bottom: 0;
    margin-right: 8px;
    align-items: center;
  }

  .tab {
    display: flex;
    padding: 0.2em 0.8em;
    border-radius: var(--border-radius);
    border: 1px solid;
    border-color: var(--clr-white);
    transition: background-color 0.4s ease, color 0.4s ease;
  }

  .tab:hover,
  .tab.active {
    background-color: var(--clr-white);
    color: var(--clr-text-400);
    transition: background-color 0.4s ease, color 0.4s ease;
  }

  .tab:hover {
    background-color: var(--clr-neutral-200);
  }

  .tab-content > .tab-pane {
    display: none;

    &.active {
      display: block;
    }
  }
}

/* Layout for boxes with forms */
.box.form-box {
  .row {
    border-bottom: 1px solid var(--clr-neutral-300);
  }

  .col-md-3,
  .col-md-9 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // stretch nested boxes to full width
    .box {
      flex: 1;
    }
  }

  .col-md-3 {
    background: var(--clr-neutral-200);
    border-right: 1px solid var(--clr-neutral-300);
  }

  .form__label i {
    vertical-align: super;
    font-size: var(--fs-100, 0.8rem);
    color: var(--clr-neutral-400);
  }
}

// Standalone help block under boxes, often these are nested boxes
.box__help {
  display: block;
  flex: 1 1 100%;
  margin-left: 1px;
}
