.btn-link {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

button,
.btn {
  font-size: var(--fs-400);
  border-radius: var(--border-radius, 2px);
}

button.badge {
  color: var(--clr-white);
  padding: 2px 4px;
  border: 0;

  i {
    margin-inline-start: 4px;
  }
  &:not(:last-child) {
    margin-inline-end: 8px;
  }
}
