/* ========================================
 * Upload button styling for primefaces
 * ===================================== */


body .ui-fileupload .ui-fileupload-buttonbar {
  display: flex;
  justify-content: center;
  background: transparent;
  border: 0;
}
body .ui-fileupload-buttonbar .ui-button{
  border-radius: 0.25rem !important;
}

body .ui-fileupload .ui-fileupload-content {
  border: 0;
}

body .ui-button.ui-button-text-icon-left .ui-button-text {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

body .ui-messages .ui-messages-error .ui-messages-error-icon, body .ui-messages .ui-messages-error .ui-messages-fatal, body .ui-messages .ui-messages-fatal .ui-messages-error-icon, body .ui-messages .ui-messages-fatal .ui-messages-fatal{
	display:none;
}

[id="uploadBox:upload_label"] {
  color: #fff;
  background-color: var(--clr-primary-400);
}

[id="uploadBox:upload_label"]:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.draganddroparea {
  align-self: baseline;
  flex: 1;
  border: 2px dashed silver;
  padding: 40px 8px 0 8px;
}

.ui-icon-plusthick {
  display: none !important;
}