.toast-container{
    z-index: 1090 !important;
    margin-top: -1px !important;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid var(--clr-box-action);
    pointer-events: all !important;
	> div {
		border-bottom: 1px solid var(--clr-box-action);
	}
}

.toast-button,
.toast-button:hover {
	border: 1px solid white;
	border-top: 0;
	border-radius: 0 0 5px 5px;
	color: white;
	height: 3rem;
	margin-top: 1.5rem;
	&[aria-expanded="true"] {
		border-color: var(--clr-box-action);
		.toast-collapsed {
			display: none;
		}
		.toast-expanded {
			display: initial;
		}
	}
	.toast-expanded {
		display: none;
	}
}
