/* ========================================
 * Styles for
 *
 * login.xhtml
 * logout.xhtml
 * ====================================== */

 .login {
	background-color: var(--clr-primary-400);
}

.login-logout {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
    color: white;
	height: 100%;
	width: 100%;
}

.login-logout-body {
	max-height: 90vh;
	width: 28rem;
}

.login-logout-body>h1 {
	text-align: center;
	font-size: 3rem;
}

.login-logout-body>h1>a {
	color: white;
	display: block;
	font-weight: 300;
	padding: 2px 0;
	text-decoration: none;
}

.login-logout-body>a {
    color: white;
    text-decoration: none;
}

.login-logout-box {
	background-color: white;
	justify-content: center;
	align-items: center;
    color: black;
	display: flex;
	height: 17rem;
	max-height: 80vh;
}

.login-logout-box h2 {
	font-weight: 300;
	color: black;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 10px;
}