:root {
  --clr-primary-400: #368ee0;
  --clr-primary-600: #1b67af;

  /* Named colors */
  --clr-orange-400: #e8860c;

  --clr-gray-100: #f4f4f4;
  --clr-gray-200: #ddd;
  --clr-gray-400: #666666;

  /* Font sizes */
  --fs-400: 1.2rem;

  /* Flow -> margin on top of elements */
  --flow-space: 1.6rem;

  /* DEVELOPMENT */
  --clr-primary-400: #ba324f;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: var(--clr-primary-400);

  &:focus,
  &:hover,
  &:active {
    color: var(--clr-primary-600);
  }
}

hr {
  color: var(--clr-gray-400);
}

// Overrides for font-awesome.css
// Might be removed, once font-awesome is updated
.pull-left,
.pull-right {
  float: unset;
}
