.keyboard-key {
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: monospace;
    font-size: 0.9em;
    color: #333;
}

#shortcutsHelpModal {
    .definition-list {
        grid-template-columns: auto;
    }
}

.footer-keys {
    display: flex;
    .footer-key {
        display: flex;
        flex-wrap: nowrap;
    }
    .keyboard-key {
        margin-block: auto;
        background-color: transparent;
        color: white;
    }
}