.resize-handle-end {
    & .ui-resizable-handle {
        right: 0;
    }
    &::after {
        border-inline: 1px solid var(--clr-neutral-300);
        content: "";
        height: 3em;
        padding: 1px;
        position: absolute;
        right: 2px;
        top: 50%;
    }
}

.resize-handle-start{
    & .ui-resizable-handle {
        left: -0.5rem;
    }
    &::before {
        border-inline: 1px solid var(--clr-neutral-300);
        content: "";
        height: 3em;
        left: -7px;
        padding: 1px;
        position: absolute;
        top: 50%;
    }
}