# Junk files
*~
.DS_Store

# Build
target/
bin/
build/
/src/main/webapp/node_modules/
/src/main/webapp/META-INF/context.xml
/src/main/webapp/dist/
/src/main/webapp/uii/template/css/dist/
/src/main/webapp/resources/js/dist/
/src/main/webapp/resources/icons/
#/src/main/webapp/npm-debug.log

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea
*.iml

# Plugins
hotswap-agent.properties
/Goobi/
