# Junk files
*~
.DS_Store

# Build
target/
bin/
build/
/src/main/webapp/node_modules/
#/src/main/webapp/npm-debug.log

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea
*.iml

# Plugins
hotswap-agent.properties
