/work
goobi1.9/work
/build
goobi1.9/build
/WEB-INF/classes
goobi1.9/WEB-INF/classes
.idea
*.iml
/.project
*~
/.DS_Store
.DS_Store
hotswap-agent.properties
/Goobi/src/main/webapp/dist

# Local files used as styling reference while migrating to BS 5
*_REF.xhtml
