.resize-handle-end::after {
    border-inline: 1px solid var(--clr-neutral-300);
    content: "";
    height: 3em;
    padding: 1px;
    position: absolute;
    right: -6px;
    top: 50%;
}

.resize-handle-start::before {
    border-inline: 1px solid var(--clr-neutral-300);
    content: "";
    height: 3em;
    left: -3px;
    padding: 1px;
    position: absolute;
    top: 50%;
}