.messages {
  padding-left: 0;
  list-style: none;
}

.alert {
  --bs-alert-border-radius: var(--border-radius);
  --bs-danger-bg-subtle: var(--clr-hot);
  --bs-danger-border-subtle: var(--clr-hot);
  --bs-danger-text-emphasis: var(--clr-white);
  --bs-info-bg-subtle: var(--clr-primary-400);
  --bs-info-border-subtle: var(--clr-primary-400);
  --bs-info-text-emphasis: var(--clr-white);
  --bs-warning-bg-subtle: var(--clr-action);
  --bs-warning-border-subtle: var(--clr-action);
  --bs-warning-text-emphasis: var(--clr-white);
  --before-width: 1.5rem;
  background: white;
  border: 1px solid var(--alert-color);
  color: black;
  margin-bottom: 3px;
  padding-block: 0.875rem;
  padding-inline: calc(var(--before-width) + 0.5rem) 0.5rem;
  position: relative;
  &::before {
    align-items: center;
    background: var(--alert-color);
    color: white;
    display: flex;
    font: normal normal normal 14px/1 FontAwesome;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: var(--before-width);
  }
}

.alert-danger {
  --alert-color: var(--clr-hot);
  background: hsla(from var(--clr-hot) h s l / 20%);
  &::before {
    content: "\f071"; // exclamation-triangle
  }
}

.alert-info {
  --alert-color: var(--clr-primary-400);
  background: hsla(from var(--clr-primary-400) h s l / 20%);
  &::before {
    content: "\f05a"; // info-circle
  }
}
