.definition-list {
    container: dl / inline-size;
    display: grid;
    grid-template-columns: 25% auto;
    margin: 0;
    padding: 0;
}

.definition-list-term,
.definition-list-description {
    padding: 0.375rem;
    grid-column: 1 / span 2;
    word-break: break-word;
    &:hover {
        background-color: var(--clr-neutral-100);
    }
}

.definition-list-term:hover + .definition-list-description,
.definition-list-term:has(+ .definition-list-description:hover) {
    background-color: var(--clr-neutral-100);
}

.definition-list-term {
    grid-column: 1 / span 2;
}

.definition-list-description {
    border-block-end: 1px solid var(--clr-neutral-300);
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
}

@container dl (min-width: 400px) {
    .definition-list-term {
        border-block-end: 1px solid var(--clr-neutral-300);
        border-inline-end: 1px solid var(--clr-neutral-300);
        grid-column: 1 / span 1;
    }
    .definition-list-description {
        grid-column: 2 / span 1;
    }
}