/* ========================================
 * Upload button styling for primefaces
 * ===================================== */


body .ui-fileupload .ui-fileupload-buttonbar {
  display: flex;
  justify-content: center;
  background: transparent;
  border: 0;
}
body .ui-fileupload-buttonbar .ui-button{
  border-radius: 0.25rem !important;
}

body .ui-fileupload .ui-fileupload-content {
  border: 0;
}

body .ui-button.ui-button-text-icon-left {
  .ui-button-icon-left {
    color: var(--clr-white);
    font-size: var(--fs-200);
    top: 75%;
    transform: translateY(-40%);
  }
  .ui-button-text {
    color: var(--clr-white);
    padding: 0.3125rem 0.625rem 0.3125rem 2rem;
  }
}

body .ui-icon-close {
    color: #fff;
}

body .ui-button-icon-only{
  color: #fff;
  background-color: var(--clr-primary-400);
}

body .ui-fileupload-preview {
  display: none;
}

body .ui-fileupload-cancel > span.ui-button-text {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 0px;
}

body .ui-messages .ui-messages-error .ui-messages-error-icon, body .ui-messages .ui-messages-error .ui-messages-fatal, body .ui-messages .ui-messages-fatal .ui-messages-error-icon, body .ui-messages .ui-messages-fatal .ui-messages-fatal{
	display:none;
}

body .ui-messages .ui-messages-error, body .ui-messages .ui-messages-fatal {
    background: #f8d7da;
    border: 0;
    color: #842029;
    font-weight: normal;
}

body .ui-messages .ui-messages-error .ui-messages-close, body .ui-messages .ui-messages-fatal .ui-messages-close {
    background: #842029;
    color: #f8d7da;
}

body .ui-messages .ui-messages-error .ui-messages-close:hover, body .ui-messages .ui-messages-fatal .ui-messages-close:hover {
    background: #84202999;
}

body .ui-messages>div {
    padding: 0.5rem;
    border-radius: 0.25rem;
}

[id="uploadBox:upload_label"] {
  color: #fff;
  background-color: var(--clr-primary-400);
}

[id="uploadBox:upload_label"]:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.draganddroparea {
  align-self: baseline;
  flex: 1;
  border: 2px dashed silver;
  padding: 40px 8px 0 8px;
}

.ui-icon-plusthick {
  display: none !important;
}

.ui-fileupload {
  &.upload-override {
    .ui-widget-header {
        background: transparent;
        border: none;
        padding: 0;
        .ui-button {
          background: transparent;
          border: none;
        }
    }

    .ui-corner-top {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .ui-widget-header {
        text-shadow: none;
    }

    .ui-widget {
        font-family: inherit;
        border-radius: 0;
        color: #444;
    }

    .ui-fileupload-content {
        display: none;
    }

    .ui-button-icon-left {
        display: none;
    }

    .ui-button-text.ui-c {
        font-weight: normal;
        padding: 0 !important;
    }

    .ui-fileupload-choose {
        background: #eee;
        border: 0;
        box-shadow: none;
        text-shadow: none;
        border-radius: 0;
        color: #444;
        filter: none;
        padding: 0;
    }

    .ui-fileupload-buttonbar span.ui-button .ui-button-text {
        background: #666666;
        color:white;
        margin:0;
        padding:0;
     }

    .ui-state-hover {
        background: #ccc !important;
        text-shadow: none;
        text-decoration: none;
    }
  }
}