.footer {
    background: var(--clr-primary-400);
    display: flex;
    color: white;
    gap: 1rem;
    justify-content: flex-start;
    height: 3rem;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    width: 100%;
}

.footer-text {
    align-items: center;
    color: white;
    display: flex;
    height: 2.9375rem;
    padding: 1em;
    .fa {
        margin-inline-end: 0.5rem;
    }
}

a.footer-text {
    &:active {
        background-color: var(--clr-primary-400);
        color: white;
    }
    &:hover,
    &:focus {
        background-color: var(--clr-primary-600);
        color: white;
    }
}

// gray
// .footer {
//     background: #ddd;
//     color: black;
// }

// .footer-text {
//     color: black;
// }

// a.footer-text {
//     &:active {
//         background-color: #ddd;
//         color: black;
//     }
//     &:hover,
//     &:focus {
//         background-color: #ddd;
//         color: black;
//     }
// }