input,
select,
textarea {
  &:hover {
    border-color: var(--clr-primary-400) !important;
  }
  &[type="checkbox"] {
    margin-right: 5px;
  }
}

.ui-calendar {
  width: 100%;
  .hasDatepicker {
    width: 100%;
  }
}

.form-control,
.form-select {
  font-size: var(--fs-400)
}

th {
  font-weight: inherit;
}

.form-group {
  padding: 8px;
  margin-bottom: 0;
}

label,
.form__label {
  font-size: var(--fs-400);
  align-self: flex-start;
  display: flex;
  overflow: hidden;
  hyphens: auto;
  .fa {
    font-size: var(--fs-200, 10px);
  }
}

.form__help,
.help-block {
  flex: 1 1 100%;

  span {
    color: var(--clr-neutral-600);
  }

  .text-danger, // error msg
  .help-block // help text
  {
    margin-left: 1px;
    margin-top: 4px;
  }
}

// BS helper
.form-text {
  font-size: var(--fs-400);
}

.label-col {
  background-color: var(--clr-neutral-200);
  border-right: 1px solid var(--clr-neutral-300);

  @media screen and (max-width: 767px) {
    border-right: 0;
  }

  .fa-asterisk {
    vertical-align: super;
  }
}

.label-left {
  .form-group {
    display: flex;
    padding: 0;
  }

  .form-group > [class^="col"] {
    padding: 1rem;
    border-bottom: 1px solid var(--clr-border, #ced4da);
  }

  .control-label {
    background-color: var(--clr-neutral-200);
    border-right: 1px solid var(--clr-border, #ced4da);
  }

  .control-label [class^="col-"] {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

option:checked {
  background-color: var(--clr-primary-400);
  color: #fff;
}

// BS 5 Overrides
.input-group-text {
  background-color: var(--clr-neutral-200);
}

// Other overrides
body .ui-inputfield {
  padding: 0.1875rem 0.75rem;
  border: var(--gw-border);
  border-color: var(--bs-border-color);
  border-radius: var(--gw-border-radius);
  &:hover {
    border-color: var(--clr-primary-400);
  }
  &.ui-state-error {
    border-color: var(--bs-border-color);
  }
}
// override for reduced opacity in spans SURROUNDING input in primefaces
body .ui-state-disabled {
  opacity: initial;
}
body {
  .ui-autocomplete-panel {
    border-radius: var(--gw-border-radius);
    .ui-autocomplete-items {
      .ui-autocomplete-item {
        line-height: 1.5;
        margin-inline: 0.5em;
        &.ui-state-highlight {
          background-color: var(--clr-neutral-200);
        }
      }
    }
  }
}

// Option buttons
.select-radio td {
  display: flex;
  gap: 4px;
  align-items: center;
}
.select-radio-horizontal tr {
  display: flex;
  gap: 12px;
  border-width: 0 !important;
}

fieldSet:disabled .badge,
fieldSet:disabled .badge > a {
  opacity: var(--bs-btn-disabled-opacity);
  pointer-events: none;
}

// re-implementation of forms in non-combinatory classes
// TODO: stacked form-rows need styling similar to fieldsets on small screens
.form-row {
  border-block-end: 1px solid var(--clr-neutral-300);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  > * {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin: 0;
    max-width: 100%;
    min-height: 2.8125rem;
    width: 100%;
  }
  > .form-row {
    border: 0;
    padding: 0;
  }
  > .form-label {
    background: var(--clr-neutral-200);
    border-inline-end: 1px solid var(--clr-neutral-300);
    > .btn{
      padding-block-start: 0;
      &:first-of-type {
        margin-inline-start: auto;
      }
    }
  }
  > .form-input {
    background: var(--clr-white);
    &:has(.form-row) {
      padding: 0;
    }
    > .form-row:last-child {
      border-block-end: 0;
    }
  }
  @media (min-width: 768px) {
    > .form-label {
      width: 25%;
    }
    > .form-label+.form-input {
      width: 75%;
    }
  }
}

.fieldSet-content {
  > .field-set {
    padding-inline: 1em;
    > .fieldSet-content {
      border-inline-end: 1px solid var(--clr-neutral-300);
    }
  }
}

.field-set {
  background: var(--clr-neutral-200);
  border-block-end: 1px solid var(--clr-neutral-300);
  width: 100%;
  padding: 0 0 0.25rem 0;
  > .fieldSet-legend {
    display: flex;
    font-size: var(--fs-400);
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    > .btn {
      padding-block-start: 0;
    }
  }
  > .form-rows,
  > .fieldSet-content {
    border-block-start: 1px solid var(--clr-neutral-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0.5rem;
    padding: 0 0 0.25rem 0;
    .form-label {
      background: var(--clr-neutral-200);
      border-inline-start: 1px solid var(--clr-neutral-300);
    }
    .form-input {
      border-inline: 1px solid var(--clr-neutral-300);
    }
  }
  &:has(>.form-fieldset-remove) {
    border: 0;
    display: flex;
    flex-wrap: nowrap;
    > * {
      width: calc(100% - 4em);
      > .form-row:last-child {
        // border-block-end: 0;
      }
    }
  }
  > .form-fieldset-remove {
    border-inline-end: 1px solid var(--clr-neutral-300);
    width: 3em;
    > .btn {
      height: 100%;
    }
  }
  @media (min-width: 768px) {
    > .fieldSet-legend {
      width: 25%;
    }
    > .form-rows,
    > .fieldSet-content {
      padding: 0;
      margin: 0;
      .form-input {
        border-inline: 0;
      }
    }
  }
}

// input elements in box titles, should be mostly search/filter inputs
.box__title {
  input {
    max-width: 50%;
    width: 15rem;
  }
  .form-control {
    padding: 0.3125rem 0.75rem;
  }
}