.notification-show::before {
    color: white;
    font-family: FontAwesome;
    content: "\f129";
}

.notification-area {
    --toggle-color: var(--clr-primary);
    bottom: 1.5rem;
    position: fixed;
    right: 1.5rem;
    > .btn {
        background: var(--toggle-color);
        border: 1px solid var(--toggle-color);
        border-radius: 100%;
        bottom: 0;
        box-shadow: white 0 0 0.25rem 0;
        font-size: var(--fs-500);
        height: 3rem;
        position: absolute;
        right: 0;
        width: 3rem;
        z-index: 2;
    }
    &:has(.alert-danger) {
        .notification-show::before {
            content: "\f12a";
        }
    }
}

.notification-wrapper {
    background: hsla(208.94, 73.28%, 54.51%, 0.125);
    background: hsla(208.94, 73.28%, 100%, 1);
    border: 1px solid var(--clr-primary);
    border-radius: var(--border-radius);
    margin-block-end: 1.5rem;
    max-width: 50vw;
    padding-block-end: 1.5rem;
    width: 30rem;
    .messages {
        margin-inline-start: 0.5em;
        max-height: 50vh;
        overflow-y: auto;
        padding-inline-end: 0.5em;
    }
}

.notification-header {
    align-items: center;
    background: var(--clr-primary);
    color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-400);
    padding: 0.5em 1em;
    > .btn {
        border: 0.0625rem solid #fff;
    }
}

// gray
// .notification-area {
//     > .btn {
//         box-shadow: white 0 0 0.25rem 0;
//     }
// }

// .notification-wrapper {
//     background: transparent;
//     border: 2px solid #ddd;
// }

// .notification-header {
//     background: #ddd;
//     color: black;
//     > .btn {
//         background: #ddd;
//         border: 0.0625rem solid #fff;
//         color: black;
//     }
// }

// no header
.notification-wrapper {
    padding-block-start: 0.5rem;
}
.notification-header {
    display: none;
}