.properties-form {
    container: properties-form / inline-size;
}

.properties-wrapper {
    display: grid;
    gap: var(--flow-space, 1rem);
}

.group-count-uneven {
    .properties-group:first-of-type {
        // grid-column: 1 / -1;
    }
}

@container properties-form (min-width: 1000px) {
    .properties-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

// @container properties-form (min-width: 1300px) {
//     .properties-wrapper.group-count-uneven {
//         grid-template-columns: 1fr 1fr 1fr;
//     }
// }

// @container properties-form (min-width: 1600px) {
//     .properties-wrapper {
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//     }
//     .group-count-uneven {
//         .properties-group:first-of-type {
//             grid-column: auto;
//         }
//     }
// }