.section {
    --section-padding: var(--box-padding);
}

.section-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
    margin: var(--section-padding);
}

.section-body-padded {
    padding: var(--section-padding);
}