<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Goobi workflow">

  <Properties>
    <Property name="baseDir">/opt/digiverso/logs</Property>
    <Property name="logLevel">$${env:LOGGERLEVEL:-ERROR}</Property>
  </Properties>


  <ThresholdFilter level="TRACE" />


  <Appenders>
    <Console name="stdout">
      <PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n" />
      <ThresholdFilter level="${logLevel}" />
    </Console>

    <RollingFile name="goobi" fileName="${baseDir}/goobi.log" filePattern="${baseDir}/goobi.log.%d{yyyy-MM-dd}.gz">
      <PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n" />
      <ThresholdFilter level="DEBUG" />
      <CronTriggeringPolicy schedule="0 0 0 * * ?" />
      <DefaultRolloverStrategy>
        <Delete basePath="${baseDir}">
          <IfFileName glob="goobi.log.*.gz" />
          <IfLastModified age="7d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

    <!-- The trailing w from icsw is for 'workflow' and makes sure, that this configuration does not interfer 
	     with the ics.log being specified in the Goobi viewer, just in case both applications are installed on
	     the same server -->
    <RollingFile name="ics" fileName="${baseDir}/icsw.log" filePattern="${baseDir}/icsw.log.%d{yyyy-MM-dd}.gz">
      <PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n" />
      <ThresholdFilter level="DEBUG" />
      <CronTriggeringPolicy schedule="0 0 0 * * ?" />
      <DefaultRolloverStrategy>
        <Delete basePath="${baseDir}">
          <IfFileName glob="icsw.log.*.gz" />
          <IfLastModified age="7d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

    <RollingFile name="ugh" fileName="${baseDir}/ugh.log" filePattern="${baseDir}/ugh.log.%d{yyyy-MM-dd}.gz">
      <PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n" />
      <ThresholdFilter level="DEBUG" />
      <CronTriggeringPolicy schedule="0 0 0 * * ?" />
      <DefaultRolloverStrategy>
        <Delete basePath="${baseDir}">
          <IfFileName glob="ugh.log.*.gz" />
          <IfLastModified age="7d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>


  <Loggers>
    <!-- Goobi workflow -->
    <Logger name="org.goobi" level="TRACE" additivity="true">
      <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="io.goobi" level="TRACE" additivity="true">
      <AppenderRef ref="goobi" />
    </Logger>    
    <Logger name="de.sub.goobi" level="TRACE" additivity="true">
      <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="de.intranda.goobi" level="TRACE" additivity="true">
      <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="de.unigoettingen.sub.search.opac" level="TRACE" additivity="true">
      <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="de.unigoettingen.sub.commons" level="TRACE" additivity="true">
      <AppenderRef ref="goobi" />
    </Logger>

    <!-- UGH -->
    <Logger name="ugh" level="TRACE" additivity="false">
        <AppenderRef ref="ugh" />
    </Logger>

    <!-- ContentServer -->
    <Logger name="de.unigoettingen.sub.commons.contentlib" level="INFO" additivity="true">
      <AppenderRef ref="ics" />
    </Logger>

    <!-- external libraries -->
    <Logger name="org.quartz" level="WARN" additivity="true">
        <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="com.amazonaws" level="WARN" additivity="true">
        <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="org.h2" level="WARN" additivity="true">
        <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="org.apache.myfaces" level="WARN" additivity="true">
        <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="org.apache.http.wire" level="WARN" additivity="true">
        <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="org.apache.activemq" level="WARN" additivity="true">
        <AppenderRef ref="goobi" />
    </Logger>
    <Logger name="org.reflections" level="WARN" additivity="true">
        <AppenderRef ref="goobi" />
    </Logger>

    <Root level="ERROR">
      <AppenderRef ref="stdout" />
    </Root>
  </Loggers>
</Configuration>
