:root {
  --gw-clr-border: var(--clr-neutral-300);
  --gw-border: 1px solid var(--gw-clr-border);
  --gw-border-radius: 2px;
  --flow-space: 1.6rem;

  /* legacy: */
  --border-radius: 2px;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

hr {
  color: var(--clr-neutral);
}

// Overrides for font-awesome.css
// Might be removed, once font-awesome is updated
.pull-left,
.pull-right {
  float: unset;
}
