@font-face {
  font-family: "Goobi";
  src: url("../../font/opensans-regular-webfont.eot");
  src: url("../../font/opensans-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../font/opensans-regular-webfont.woff2") format("woff2"),
    url("../../font/opensans-regular-webfont.woff") format("woff"),
    url("../../font/opensans-regular-webfont.ttf") format("truetype"),
    url("../../font/opensans-regular-webfont.svg#open_sansregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

// Font sizes
:root {
  --fs-200: 1rem;
  --fs-400: 1.2rem;
  --fs-500: 1.4rem;
  --fs-600: 1.6rem;
  --fs-800: 1.8rem;
}

// Set font family and body text
body {
  font-family: Goobi, sans-serif;
  font-size: var(--fs-400, 1.2rem);
  font-weight: 300;
}

// Styles for external UI elements
body .ui-widget {
  font-family: Goobi, sans-serif;
  font-size: 1.2rem;
  color: var(--bs-body-color);
}

// Links
a {
  text-decoration: none;
  color: var(--clr-primary-400);

  &:focus,
  &:hover,
  &:active {
    color: var(--clr-primary-600);
  }
}

// Headings
.heading-3 {
  font-size: var(--fs-800);
}

// Utilities
.fs-200 {
  font-size: var(--fs-200);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-600 {
  font-size: var(--fs-600);
}
.institutionEdit .tab-pane .heading-3 {
  padding-left: 0.8rem;
  padding-top: 1.2rem;
}

.font-status-done{
	color: #339933;
}

.font-status-open{
	color: #e8860c;
}

.font-status-inwork, .font-status-inflight{
	color: #ffbf21;
}

.font-status-locked{
	color: #e51400;
}

.font-status-error{
	color: #e51400;
}

.font-status-deactivated{
	color: #ccc;
}

.font-light{
	color: #bbb;
}