/* ++++++++++++++++++++ HEADER ++++++++++++++++++++ */

/* Header navigation */
#navigation {
	background: #1F79CC;
}

/* info boxes */
.background-color-A {
	background: #767676;
}

/* ++++++++++++++++++++ BOX COLORS ++++++++++++++++++++ */

/* box header background */
.box.box-color .box-title {
	background: #1F79CC;
}

/* box header border */
.box.box-bordered.box-color .box-title {
	border-color: #1F79CC;
}

/* box border */
.box.box-bordered.box-color .box-content {
	border-color: #1F79CC;
}

/* tabs background gray */
.tabs.tabs-inline.tabs-top > li > a {
	background: #E6E6E6;
}


/* add file groups button */
.box.box-color.grey-4 .btn.btn-primary {
	background: #444;
}

/* bright font in orange boxes */
.box.box-color .box-title h3.-white {
	color: #fff;
}
.box.box-color .box-title h2.-white {
	color: #fff;
}

/* dark font in orange boxes */
.box.box-color .box-title h3.-black {
	color: #2A2A2A;
}
.box.box-color .box-title h2.-black {
	color: #2A2A2A;
}

/* box header in edit pages */
.box.box-bordered.box-color.orange .box-title {
 	background: #cb4e00 !important;
	border-color: #cb4e00 !important; 
}

/* box border in edit pages */
.box.box-bordered.box-color.orange .box-content {
	border-color: #cb4e00 !important; 
}

/* active and hover Links in box header */
.box.box-color .box-title .tabs > li.active > a {
	color: #2a2a2a;
}

.box.box-color .box-title .tabs > li > a:hover {
	color: #2a2a2a;   
}

/* user groups apply button */
.box.box-color.orange .btn.btn-primary {
	background: #cb4e00 !important;  
}

/* box header tabs */
.box.box-color .box-title .tabs>li>span {
	color: #fff;
}

/*  ++++++++++++++++++++ BUTTONS ++++++++++++++++++++ */

/* primary button */
.btn.btn-primary {
	background: #1F79CC;
}

/* save button */
.btn.btn-success {
	background: #008900;
}

/* delete button */
.btn.btn-danger {
	background: #ed061d;
}

.btn.btn-blue {
	background: #1F78CF;
}

/*  ++++++++++++++++++++ LABELS AND BADGES ++++++++++++++++++++ */

.label-intranda-green, .badge-intranda-green {
	background-color: #318731;
}

.label-light-green, .badge-light-green {
	color: #318731;
	border-color: #318731;
}

.label-light-orange, .badge-light-orange {
	color: #AC630C;
	border-color: #AC630C;
}

.label-light-blue, .badge-light-blue {
	color: #1F79CC;
	border-color: #1F79CC;
}

.badge-intranda-light {
	background-color: #777772;
}

.badge-intranda-ultralight {
	background-color: #767676;
}

/* ++++++++++++++++++++ FONTS ++++++++++++++++++++ */

.font-danger {
	color: #EB0000;
}

.font-light {
	color: #767676;
}

/* +++++++++++++++++++++++ TEXT COLORS ++++++++++++++ */

.log_color_error {
	color: #EE0000;
}

.box .box-title .tableColumnMaxWidthExtraLong {
	color: #333333;
}

.box .box-title h2.tableColumnMaxWidthExtraLong {
	color: #FFFFFF;
}

.log_color_debug {
	color: #757776
}

/* ++++++++++++++++++++ GENERAL ELEMENTS ++++++++++++++++++++ */

h3 {
	font-size: 14px;
	margin-top: 10px;
} 

/* file upload button */
#upload .ui-fileupload-choose {
	background: #1F79CC;
}

/* file upload input */
.ui-fileupload-buttonbar .ui-fileupload-choose input {
	font-size: inherit;
	display: none;
}

.folder--line {
	font-size: 24px;
}

/* ++++++++++++++++++++ LINKS +++++++++++++++++++++++++++++++++++ */

#tasks\:sortStepTitle, #tasks\:sortProject {
	background-image: none;
	image: none;
}

.font18px {
	font-size: 18px;
}

a {
	color: #1F79CC;
}
