/* Custom css */

/* Navigation */
#navigation {
	background: #3365a9;
}
/* box header background */
.box.box-color .box-title {
	background: #3365a9;
}
/* box header border */
.box.box-bordered.box-color .box-title {
	border-color: #3365a9;
}
/* box border */
.box.box-bordered.box-color .box-content {
	border-color: #3365a9;
}
/* Neuer Regelsatz button */
.btn.btn-primary {
	background: #3365a9;
}
/* aktive Benutzer und Kalender box */
.background-color-A {
	background: #444;
}
/* Speichern button */
.btn.btn-success {
	background: #318731;
}
/* löschen button */
.btn.btn-danger {
	background: #EB1500;
}
/* helle Schrift für orangenen Hintergrund */
.box.box-color .box-title h3.-white {
	color: #fff;
}
.box.box-color .box-title h2.-white {
	color: #fff;
}
/* dunkle Schrift für orangenen Hintergrund */
.box.box-color .box-title h3.-black {
	color: #2A2A2A;
}
.box.box-color .box-title h2.-black {
	color: #2A2A2A;
}
