/* ++++++++++++++++++++ HEADER ++++++++++++++++++++ */

/* Header navigation */
#navigation {
	background: #1F79CC;
}

/* info boxes */
.background-color-A {
	background: #444;
}

/* ++++++++++++++++++++ MAIN ++++++++++++++++++++ */

/* box header background */
.box.box-color .box-title {
	background: #1F79CC;
}

/* box header border */
.box.box-bordered.box-color .box-title {
	border-color: #1F79CC;
}

/* box border */
.box.box-bordered.box-color .box-content {
	border-color: #1F79CC;
}

/* primary button */
.btn.btn-primary {
	background: #1F79CC;
}

/* Status active */
.label-intranda-green, .badge-intranda-green {
	background-color: #318731;
}

/*  ++++++++++++++++++++ EDIT PAGES ++++++++++++++++++++ */

/* save button */
.btn.btn-success {
	background: #318731;
}

/* delete button */
.btn.btn-danger {
	background: #EB1500;
}

/* add file groups button */
.box.box-color.grey-4 .btn.btn-primary {
	background: #444;
}

/* bright font in orange boxes */
.box.box-color .box-title h3.-white {
	color: #fff;
}
.box.box-color .box-title h2.-white {
	color: #fff;
}

/* dark font in orange boxes */
.box.box-color .box-title h3.-black {
	color: #2A2A2A;
}
.box.box-color .box-title h2.-black {
	color: #2A2A2A;
}

/* box header in edit pages */
.box.box-bordered.box-color.orange .box-title {
 	background: #AC630C !important;
	border-color: #AC630C !important; 
}

/* box border in edit pages */
.box.box-bordered.box-color.orange .box-content {
	border-color: #AC630C !important; 
}

/* active and hover Links in box header */
.box.box-color .box-title .tabs > li.active > a {
	color: #2a2a2a;
}

.box.box-color .box-title .tabs > li > a:hover {
	color: #2a2a2a;   
}

/* user groups - badge colors */
.label-light-green, .badge-light-green {
	color: #318731;
	border-color: #318731;
}

.label-light-orange, .badge-light-orange {
	color: #AC630C;
	border-color: #AC630C;
}

.label-light-blue, .badge-light-blue {
	color: #1F79CC;
	border-color: #1F79CC;
}

/* ++++++++++++++++++++ GENERAL ELEMENTS ++++++++++++++++++++ */

h3 {
	font-size: 14px;
	margin-top: 10px;
} 

/* user groups apply button */
.box.box-color.orange .btn.btn-primary {
	background: #AC630C !important;  
}

/* box header tabs */
.box.box-color .box-title .tabs>li>span {
	color: #fff;
}
/* help-inline text */
.font-danger {
	color: #EB0000;
}

/* vocabulary upload button */
#upload .ui-fileupload-choose {
	background: #1F79CC;
}

/* vocabulary upload input */
.ui-fileupload-buttonbar .ui-fileupload-choose input {
	font-size: inherit;
	display: none;
}

.folder--line {
	font-size: 24px;
}

.font-light {
	color: #767676;
}


