.viewer-control {
    display: inline-block;
    width: 2.8rem;
    min-height: 2.8rem;
    background-image: url(icons/viewer-controls-sprite.png);
    background-repeat: no-repeat;
    margin: 0 .4rem;
}

.viewer-control.viewer-control-start {
    background-position: 0px 0px;
}

.viewer-control.viewer-control-back {
    background-position: -28px 0px;
}

.viewer-control.viewer-control-back5 {
    background-position: -56px 0px;
}

.viewer-control.viewer-control-back20 {
    background-position: -84px 0px;
}

.viewer-control.viewer-control-back50 {
    background-position: -112px 0px;
}

.viewer-control.viewer-control-reset {
    background-position: -140px 0px;
}

.viewer-control.viewer-control-rotate-left {
    background-position: -168px 0px;
}

.viewer-control.viewer-control-rotate-right {
    background-position: -196px 0px;
}

.viewer-control.viewer-control-end {
    background-position: 0px -28px;
}

.viewer-control.viewer-control-forward {
    background-position: -28px -28px;
}

.viewer-control.viewer-control-forward5 {
    background-position: -56px -28px;
}

.viewer-control.viewer-control-forward20 {
    background-position: -84px -28px;
}

.viewer-control.viewer-control-forward50 {
    background-position: -112px -28px;
}

.viewer-control.viewer-control-fullscreen {
    background-position: -140px -28px;
}

.viewer-control.viewer-control-toc {
    background-position: -168px -28px;
}

.viewer-control.viewer-control-pdf {
    background-position: -196px -28px;
}

#viewer_controls_nav {
    min-height: 2.8rem;
    margin-bottom: 2px;
    overflow: hidden;
}

#viewer_controls_nav ul {
    position: relative;
    float: left;
    left: 50%;  
    margin: 0;
    padding: 0;      
}

#viewer_controls_nav ul li {
    position: relative;
    display: inline-block;
    float: left;
    right: 50%;
}

#viewer_controls_nav ul li.zoom-level {
    margin-left: 5px;
}

#viewer_controls_nav ul li .btn {
    width: 2.8rem;
    min-height: 2.8rem;
    line-height: 16px;
}

#viewer_controls_nav ul li .control-select-box {
    height: 28px;
    line-height: 1.3125rem;
    border: 0.0625rem solid #6f6f6f;
}

#viewer_controls_nav ul li .control-select-box select {
    height: 1.625rem;
    border: none;
}

#viewer_controls_nav ul li #zoomSliderLabel {
    float: left;
    width: 55px;
    height: 28px;
    line-height: 24px;
	padding: 0;
	margin-left: 5px;
}

#viewer_controls_nav ul li #zoomSliderLabel input {
	border: none;
	background-color: transparent;
	width: 40px;
	text-align: right;
}

#viewer_controls_nav ul li #zoomSlider {
    position: relative;
    float: left;
    width: 80px;
    height: 14px;
    margin: 7px 5px 0 10px;
    border: 1px solid #6f6f6f;
}

@media screen and (max-width: 1280px) {
    #viewer_controls_nav ul li #zoomSlider {
		width:250px;
	}
}

@media screen and (max-width: 1100px) {
	#viewer_controls_nav ul li #zoomSlider {
		width:50px;
	}
	#viewer_controls_nav ul li #zoomSliderLabel {
		display:none;
	}
	
	#viewer_controls_nav ul li.zoom-level {
    	display:none;
	}
}

@media screen and (max-width: 1000px) {
	.viewer-control.viewer-control-rotate-left {
		display:none;
	}
	.viewer-control.viewer-control-rotate-right {
		display:none;
	}
	.viewer-control.viewer-control-reset {
		display:none;
	}
}

@media screen and (max-width: 768px) {
	#viewer_controls_nav ul li #zoomSliderLabel {
		display:inline-block;
	}
	.viewer-control.viewer-control-rotate-left {
		display:inline-block;
	}
	.viewer-control.viewer-control-rotate-right {
		display:inline-block;
	}
	.viewer-control.viewer-control-reset {
		display:none;
	}
}

#viewer_controls_nav ul li #zoomSlider .zoomslider-handle {
    top: -7px;
    height: 26px;
    width: 10px;
    background-color: #6f6f6f;
    position: absolute;
}

#viewer_controls_nav ul li #zoomSlider a {
    width: 1.45rem;
    height: 1.45rem;
    margin: 0;
    background: #6f6f6f;
}

#image-control-wrapper {}

#mainImage {
	display: block;
	position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#ajaxloader_image {
	display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
}

#ajaxloader_image img {
	position: absolute;
    top: 50%;
    left: 50%;
/*     width: 140px; */
/*     height: 84px; */
/*     margin-left: -70px; */
/*     margin-top: -42px; */
    width: 70px;
    height: 42px;
    margin-left: -35px;
    margin-top: -21px;
    border: none;
}


#object_controls {
	margin-top: 12px;
	width: 100%;
	float: right;
	border: 1px solid #ccc;
	padding: 4px;
	text-align: left;
	padding-bottom: 12px;
	padding-top: 0px;
}

#object_controls .viewer-control {
	margin-bottom: -8px;
	margin-top: 8px;
}


#object_controls .controls_box {
	width: 50%;
}

#object_controls label {
	width: 50%;
	margin-bottom: 0;
	text-align: center;
}

