.metseditor-structure-table {
    margin: 0;
    padding: 0.5em;
    &-label {
        font-weight: bold;
        padding-right: 10px;
    }
    &-value {
    }
}

.thumbnails {
    .active {
        .thumbnails__thumb-image {
            background-color: var(--clr-primary);
        }
        button {
            color: white;
        }
    }
}

.image {
    &__main-image {
        border: 4px solid green;
        .areaselect-overlay {
                border: 2px solid #ff4433 ;
                z-index: 1000; 
                background-color: rgba(255, 68, 51, 0.5);
        }
    }
}



.metseditor_progress-panel {
    padding-block: 1rem;
    button {
        display: none;
    }
}