/* ========================================
 * process_edit.xhmtl
 * ===================================== */

.process_propertyName {
	width: 250px;
}
.process_propertyValue {
	word-wrap: break-word!important;
    word-break: break-word!important;
	min-width: 300px;
}
.process_propertyAction {
	width: 90px;
}
