.btn-link {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

button,
.btn {
  font-size: var(--fs-400);
  .fa {
    margin-right: 0.4rem;
  }
}
