.table {
}

thead {
  background-color: var(--clr-gray-100);
}

.table > :not(:first-child) {
  border-top: unset;
}

td,
th {
  border-color: var(--clr-gray-200);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--clr-gray-100);
}
