.bookmarks {
	position: absolute;
	right: 0;
	height: 30px;
	bottom: 200px;
	z-index: 10000;

    .bookmark-add {
        position: relative;
        z-index: 1;
    }
    .bookmark-remove {
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        z-index: 0;
    }
}

.bookmarks__double {
    position: relative;
    &:hover .bookmark-remove {
        right: 100%;
    }
}