
.editor {
    border: 1px solid var(--bs-border-color);
    display: flex;
    justify-content: stretch;
    min-height: 8lh;
    width: 100%;

    .codemirror {
        max-height: 75vh;
    }

    .codemirror {
        overflow-y: scroll;
    }

    .editor-menubar {
        flex-direction: column;
    }

    // text elements in the menu bar
    .editor-info {
        display: inline-block;
    }

    // CodeMirror specific styles
    & .cm-editor {
        width: 100%;
    }

    .editor-menubar {
        background-color: var(--bs-light);
        border-bottom: 1px solid var(--bs-border-color);
        padding-block: 0.125rem;
    }

    .editor-menu-group {
        align-items: center;
        border-inline-end: 1px solid var(--bs-border-color);
        display: inline-flex;
        padding-inline: 0.5rem;
        vertical-align: middle;
        &:last-of-type {
            border-inline-end: none;
        }
    }

    .editor-menuicon {
        &.active {
            border: 1px solid black;
        }
        &.inactive {
            opacity: 0.5;
        }
    }

    // ProseMirror specific styles
    .ProseMirror {
        padding: 0.5rem;
    }

    // styles for HTML elements in the editor
    strong {
        font-weight: bold;
    }
    a {
        color: var(--clr-primary-600);
        text-decoration: underline;
    }
}
