.icon-wrapper {
    align-items: center;
    display: inline-flex;
    height: 1lh;
    justify-content: center;
    line-height: 1;
    vertical-align: middle;

    & svg {
        color: currentColor;
        display: inline-flex;
        height: 1.275em;
        line-height: 0;
        width: 1.275em;
    }
}