.imageview-overlay {
        --imageview-highlight-color: var(--clr-primary);
    &[id*="Textword"] {
        --imageview-highlight-color: var(--clr-danger);
    }
    border: 2px solid var(--imageview-highlight-color);
}
