.navbar {
  background-color: var(--clr-primary-400);
  font-size: var(--fs-400);
  padding-top: 0;
  padding-bottom: 0;

  .container-fluid {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    // Keep burger menu + icon-nav (user menu, lang switch) next to each other in the right corner
    @media (max-width: 992px) {
      justify-content: end;
      // keep the logo in the left corner
      #brand {
        flex: 1;
      }
    }
  }

  // Goobi logo
  #brand img {
    margin-right: 1.25rem;
    width: auto;
    height: 1.875rem;

    @media screen and (max-width: 350px) {
      margin-right: 0.625rem;
    }
  }

  // Nav items
  .nav-item {
    color: var(--text-nav, var(--clr-white));
    &.active,
    &:hover {
      background-color: var(--bg-body, var(--clr-white));
      color: var(--text-white);
    }
    &:not(.active) {
      .dropdown-toggle.show {
        --bs-navbar-active-color: var(--text-400);
      }
    }
  }

  .nav-link {
    color: currentColor;
    height: 2.9375rem;
    display: flex;
    align-items: center;
    padding: 0.625rem 0.9375rem !important; // BS override

    // align border of .dropdown-menu with active (white) nav-link togglers
    border-left: 2px solid var(--clr-primary-400);
  }

  // carret in nav-items which are dropdowns
  .dropdown-toggle::after {
    margin-left: 8px;
  }

  // Mobile nav toggler (burger menu)
  .navbar-toggler {
    &:focus {
      box-shadow: unset;
    }
    &-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  // Menu item dropdown styles
  .dropdown-menu {
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-color: var(--clr-primary-400);
    border-width: 2px;

    li {
      font-size: 0.75rem;

      &.active {
        background-color: var(--clr-neutral-200);
      }
    }
    .dropdown-item {
      padding: 0.5rem 1rem;
      &:hover,
      &:focus {
        background-color: var(--clr-primary-400);
        color: var(--clr-white);
      }

      i,
      .fa {
        margin-inline-end: 8px;
      }
    }
  }
}

// Locale switch, user menu etc
.language-select {
  &__icon {
    margin-right: 0.5rem;
  }
  &__locale {
    text-transform: uppercase;
  }
}
.navbar .user {
  display: flex;
  .nav-link:after {
    display: none;
  }

  &__account-menu__name {
    color: currentColor;
    margin-right: 0.5rem;
    @media (max-width: 576px) {
      display: none;
    }
  }
  &__account-menu__avatar-default {
    max-height: 100%;
  }

  @media (min-width: 992px) {
    order: 1;
  }

  .icon-nav {
    display: flex;
    align-items: center;

    .nav-link.btn-link {
      margin-inline-end: 0;
      color: #fff;
      text-decoration: none;
    }
  }
}

//Mobile nav styles
@media (max-width: 991px) {
  #navigation {
    position: relative;

    #main-menu-set-class {
      margin-left: auto;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      z-index: 1000;
    }

    #navbarSupportedContent {
      position: absolute;
      top: 47px;
      right: 0;
      background-color: var(--clr-primary);
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      z-index: 1000;

      .mobile-nav {
        border-left: 1px solid var(--clr-primary);
      }

      // Always show dropdown menus on mobile
      .dropdown-menu {
        display: block;
        padding: 0;
        margin-left: 1.5rem;
        border: 0;
      }
      .nav-item {
        background-color: var(--clr-primary);
        padding-block-end: 0;

        &.active {
          background-color: var(--clr-white);
          color: var(--text-400);
        }

        &:not(:last-child) {
          border-bottom: 1px solid var(--clr-white);
        }

        .nav-link {
          border-color: var(--clr-primary);
        }

        // Do not show active states when using the mobile menu
        &.dropdown.active {
          background-color: var(--clr-primary);
          color: var(--clr-white);
        }
      }
      .dropdown-item {
        background-color: var(--clr-primary);
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        color: var(--clr-white);
      }

      // Prevent layout shifts when clicking on a .nav-item (.open has a different margin)
      .dropdown-menu[data-bs-popper] {
        margin-top: 0;
        left: -1px; /* align dropdown + menu icon */
      }
    }
  }
}
