.scroll-top {
    color: var(--clr-primary-400);
    position: sticky;
    right: 1rem;
    bottom: 1rem;
    width: 2.3rem;
    height: 2.3rem;
    margin-inline-start: auto;
    cursor: pointer;
    display: block;
    border-radius: 100%;
    box-shadow: inset 0 0 0 .1rem rgba(128,130,134,.25);
    z-index: 1010;
    opacity: 0;
    visibility: hidden;
    transform: translateY(.75rem);
    transition: all .2s linear,margin-right 0s;
    &.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    & .scroll-top-icon {
        position: absolute;
        text-align: center;
        line-height: 2.3rem;
        font-size: 1.2rem;
        color: var(--clr-primary-400);
        left: 0;
        top: 0;
        height: 2.3rem;
        width: 2.3rem;
        cursor: pointer;
        display: block;
        z-index: 1;
        transition: all .2s linear;
    }
}
.scroll-top path {
    color: var(--clr-primary-400);
    stroke: var(--clr-primary-400);
    stroke-width: 4px;
    fill: none;
    transition: all .2s linear;
    transition: stroke-dashoffset 10ms linear;
    stroke-dasharray: var(--dashArray);
    stroke-dashoffset: var(--scrollProgess);
}