.section {
    --section-padding: var(--box-padding);
    &-header {
        & h2 .btn{
            display: flex;
            font-size: inherit;
            padding-block: 3px;
            width: 100%;
        }
        & .section-header-collapsible {
            height: 100%;
            margin: 0;
        }
    }
}

.section-header-actions {
    display: flex;
    gap: calc(var(--flow-space, 1em) / 2);
}

.section-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
    margin: var(--section-padding);
}

.section-body-padded {
    padding: var(--section-padding);
    & .section-footer {
        margin: 0;
    }
}

.section:has(.collapse:not(.show)):has(.section-body-padded),
.section:has(.collapse:not(.show)):has(.section-body) {
  border-bottom: 0;
}
