// Apply these styles to every element in a wrapper but the first one
// ignore style tags
// Use it to easily apply equal flow space on all elements in a wrapper
.flow > *:not(style) + * {
  margin-top: var(--flow-space, 1.6rem);
}

/* ------------- Background colors --------------- */
.background-color-A {
  background: none repeat scroll 0 0 #aaa;
}

.background-color-B {
  background: none repeat scroll 0 0 #bbb;
}

.background-color-C {
  background: none repeat scroll 0 0 #ccc;
}

.background-color-D {
  background: none repeat scroll 0 0 #56af45;
}

.background-color-E {
  background: none repeat scroll 0 0 #e8860c;
}

.background-color-F {
  background: none repeat scroll 0 0 #e51400;
}
