// BASE
@use "base/colors-custom";
@use "base/base-custom";
@use "base/typography-custom";
@use "base/utilities-custom";

// LIBS
@use "lib/font-awesome.css";
@use "lib/codemirror.css";

// COMPONENTS
@use "components/nav-custom";
@use "components/header";
@use "components/alerts-custom";
@use "components/breadcrumbs";
@use "components/boxes";
@use "components/tables-custom";
@use "components/forms-custom";
@use "components/progressbar";
@use "components/progress-custom";
@use "components/buttons";
@use "components/journal";
@use "components/toasts-custom";
@use "components/tooltip-custom";
@use "components/file-upload";

// PAGES
@use "pages/style-guide";
@use "pages/login-logout";
@use "pages/batch-all";
@use "pages/user-group";
@use "pages/rest-api";
@use "pages/plugins";
@use "pages/projects";
@use "pages/statistics";
@use "pages/process-all";
@use "pages/process-new";
@use "pages/process-edit";

// plugins
@use "plugins/dashboard";