/* ==============================================================
   Metseditor Structdata
   ==============================================================*/
/* METSEDITOR STRUCTDATA */
.structdata {
    /* PREVIOUS/LAST PAGE */
    &__previous-page,
    &__last-page {
        [class*="fa-angle"] {
            color: @gwblue;
        }
    }
    &__previous-page {}
    &__last-page {}
    /* TYPE */
    &__structure-type {
        .col-9 {
            padding-right: 15px !important;    
        }
    }
    /* ADD ELEMENT */
    &__add-element {
        .btn {
            margin: 0;
        }
    }
}