<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:c="http://java.sun.com/jstl/core" xmlns:x="http://myfaces.apache.org/tomahawk">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="type" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="date" content="1970-01-01T00:00:00+01:00" />
    <meta name="version" content="#{HelperForm.applicationHeaderTitle} - #{HelperForm.buildVersion}" />
    <link rel="shortcut icon" href="#{HelperForm.servletPathWithHostAsUrl}/ui/favicon.ico" />

    <x:stylesheet media="screen" path="/ui/css/default.css" />
    <x:stylesheet media="print" path="/ui/css/print.css" />

    <title><h:outputText value="Goobi #{HelperForm.version}" /></title>


</h:head>

<ui:insert name="metadata" />

<h:body>
    <f:view locale="#{SpracheForm.locale}">
        <h:form id="metseditor" prependId="false" enctype="multipart/form-data">
            <table class="headTable" cellspacing="0" cellpadding="0" style="padding-left: 5px; padding-right: 5px; margin-top: 5px;">
                <ui:include src="metseditor_head.xhtml" />
            </table>

            <table cellspacing="5" cellpadding="0" class="layoutTable" align="center">

                <tr>

                    <td valign="top" height="100%" style="color: #434387; border-style: solid; border-width: 1px; border-color: #0083e2; background-color: #cbe5fc; width: 180px">

                        <table width="100%" style="height: 100%" align="center" border="0" cellpadding="3" cellspacing="0" id="sidebar">
                            <tr>
                                <td valign="top">
                                    <ui:insert name="sidebar_top">
                                    </ui:insert>
                                </td>
                            </tr>

                        </table>

                    </td>

                    <td valign="top" id="layoutInhalt" class="layoutInhalt" style="background-color: #F0F0F0">
                        <h:panelGrid id="id2" columns="1" styleClass="layoutInhaltKopf">
                            <h:panelGroup id="id3">
                                <h:form id="useform">
                                    <ui:insert name="breadcrumb" />
                                </h:form>
                            </h:panelGroup>
                        </h:panelGrid>

                        <script type="text/javascript">
/*
 * Fix navigation on scrolling page
 * */
var nav = $(".layoutInhaltKopf");

$(window).scroll(function() {
	if(window.pageYOffset > 50 || document.documentElement.scrollTop > 50) {
		
		nav.css({
			position: "fixed",
			top: 0,
			left: 0,
			zIndex: 999
			});
	} else {
		
		nav.css({
			position: "relative",
			top: 0,
			zIndex: 0
		});
	}
});


jsf.ajax.addOnEvent(function(data) {
    var ajaxstatus = data.status; // Can be "begin", "complete" and "success"
    var ajaxloader = document.getElementById("ajaxloader");
	
    var validateButton = document.getElementById("useform:validateButton");
    var validateText = document.getElementById("useform:validateText");
    
    var saveButton = document.getElementById("useform:saveMetsFileButton");
	var saveText = document.getElementById("useform:saveMetsFileText");
	
	var saveAndExitButton = document.getElementById("useform:saveMetsAndExitButton");
	var saveMetsAndExitText = document.getElementById("useform:saveMetsAndExitText");
	
	
	
    switch (ajaxstatus) {
        case "begin": // This is called right before ajax request is been sent.
            ajaxloader.style.display = 'block';
            validateButton.style.display='none';
            validateText.style.display='';
            
        	saveButton.style.display='none';
        	saveText.style.display='';
        	
        	saveAndExitButton.style.display='none';
        	saveMetsAndExitText.style.display='';
        	
            break;

        case "complete": // This is called right after ajax response is received.
            ajaxloader.style.display = 'none';
        
            validateButton.style.display='';
            validateText.style.display='none';
            
        	saveButton.style.display='';
        	saveText.style.display='none';
        	
        	saveAndExitButton.style.display='';
        	saveMetsAndExitText.style.display='none';
         
        break;

        case "success": // This is called when ajax response is successfully processed.
            // NOOP.
            break;
    }
});

						</script>

                        <div style="margin: 15px">
                            <h3>
                                <ui:insert name="title" />
                            </h3>

                            <x:messages globalOnly="true" errorClass="text_red" infoClass="text_blue" showDetail="true" showSummary="true" tooltip="true" id="validation" />

                            <ui:insert name="content" />

                        </div>
                    </td>
                </tr>
                <ui:include src="metseditor_footer.xhtml" />
            </table>
        </h:form>
    </f:view>
</h:body>
</html>
