<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <!-- ******************************************************************* -->
    <!-- LOG File                                                                    -->
    <!-- ******************************************************************* -->

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="true" />
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="5" />
        <param name="file" value="/opt/digiverso/logs/goobi.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <!-- ******************************************************************* -->
    <!-- STDOUT                                                              -->
    <!-- ******************************************************************* -->

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
<!--             <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" /> -->
<!--             <param name="ConversionPattern" value="%-5p %d %C.%M(%F:%L) - %m%n" /> -->
            <param name="ConversionPattern" value="%-4r %-5p (%F:%L) - %m%n" />
        </layout>
    </appender>

    <!-- ******************************************************************* -->
    <!-- APPENDER                                                            -->
    <!-- ******************************************************************* -->

    <logger name="de.sub.goobi" additivity="false">
        <level value="debug" />
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.goobi" additivity="false">
        <level value="debug" />
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="de.unigoettingen.sub.search.opac" additivity="false">
        <level value="error" />
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="ugh" additivity="false">
        <level value="error" />
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="de.sub.goobi.persistence" additivity="false">
        <level value="error" />
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="de.unigoettingen.gdz.goobi.contentserver" additivity="false">
        <level value="error" />
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="de.unigoettingen.sub.commons" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="de.intranda.goobi" additivity="false">
        <level value="debug" />
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.quartz" additivity="false">
        <level value="error" />
        <appender-ref ref="file" />
    </logger>

    <logger name="com.amazonaws" additivity="false">
        <level value="warn" />
        <appender-ref ref="file" />
    </logger>

    <logger name="org.apache.http.wire" additivity="false">
        <level value="warn" />
        <appender-ref ref="file" />
    </logger>

    <!-- ******************************************************************* -->
    <!-- ROOT LOGGER                                                         -->
    <!-- ******************************************************************* -->

    <root>
        <level value="error" />
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </root>

</log4j:configuration>
