<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Properties>
		<Property name="baseDir">/opt/digiverso/logs</Property>
	</Properties>


	<Appenders>

		<!-- ******************************************************************* -->
		<!-- LOG File                                                            -->
		<!-- ******************************************************************* -->
		<RollingFile
			name="file"
			fileName="${baseDir}/goobi.log"
			filePattern="${baseDir}/goobi-%d{yyyy-MM-dd}.log"
			append="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<!-- Due to the DSGVO, log outputs must be deleted after seven days because they may contain information about users -->
			<DefaultRolloverStrategy>
				<Delete basePath="${baseDir}">
					<!-- Time format is ISO 8601 -->
					<IfLastModified age="P7D" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	
		<!-- ******************************************************************* -->
		<!-- STDOUT                                                              -->
		<!-- ******************************************************************* -->
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %location%n        %msg%n"/>
		</Console>

	</Appenders>

    <!-- ******************************************************************* -->
    <!-- APPENDER                                                            -->
    <!-- ******************************************************************* -->
	<Loggers>
       <Logger name="org.goobi.production.properties" level="error" additivity="false">
           <AppenderRef ref="file" />
       </Logger>
    
        <Logger name="de.sub.goobi" level="trace" additivity="false">
            <AppenderRef ref="file" level="trace"/>
            <AppenderRef ref="STDOUT" level="${env:LOG_LEVEL:-error}"/>
        </Logger>
	    <Logger name="org.reflections" level="error" additivity="false">
	        <AppenderRef ref="file" />
	    </Logger>
	    <Logger name="org.goobi" level="trace" additivity="false">
	        <AppenderRef ref="file" level="trace"/>
            <AppenderRef ref="STDOUT" level="${env:LOG_LEVEL:-error}"/>
	    </Logger>
        <Logger name="de.unigoettingen.sub.search.opac" level="debug" additivity="false">
            <AppenderRef ref="file" level="debug"/>
            <AppenderRef ref="STDOUT" level="${env:LOG_LEVEL:-error}"/>
        </Logger>

        <Logger name="ugh" level="debug" additivity="false">
            <AppenderRef ref="file" level="error"/>
            <AppenderRef ref="STDOUT" level="${env:LOG_LEVEL:-error}"/>
        </Logger>

	    <Logger name="de.unigoettingen.gdz.goobi.contentserver" level="error" additivity="false">
	        <AppenderRef ref="file" />
            <AppenderRef ref="STDOUT" />
	    </Logger>
	    
	    <Logger name="de.unigoettingen.sub.commons" level="error" additivity="false">
	        <AppenderRef ref="file" />
            <AppenderRef ref="STDOUT" />
	    </Logger>
        <Logger name="de.intranda.goobi" level="debug" additivity="false">
            <AppenderRef ref="file" level="debug"/>
            <AppenderRef ref="STDOUT" level="${env:LOG_LEVEL:-error}"/>
        </Logger>
	
	    <Logger name="org.quartz" level="error" additivity="false">
	        <AppenderRef ref="file" />
            <AppenderRef ref="STDOUT" />
	    </Logger>
	
	    <Logger name="com.amazonaws" level="error" additivity="false">
	        <AppenderRef ref="file" />
            <AppenderRef ref="STDOUT" />
	    </Logger>
	
		<Logger name="org.h2" level="warn" additivity="false">
	        <AppenderRef ref="file" />
            <AppenderRef ref="STDOUT" />
	    </Logger>
	    
	    <Logger name="org.apache.myfaces" level="error" additivity="false">
	        <AppenderRef ref="file" />
            <AppenderRef ref="STDOUT" />
	    </Logger>
	    
	    <Logger name="org.apache.http.wire" level="error" additivity="false">
	        <AppenderRef ref="file" />
            <AppenderRef ref="STDOUT" />
	    </Logger>
        <Logger name="org.apache.activemq" level="error" additivity="false">
            <AppenderRef ref="file" />
            <AppenderRef ref="STDOUT" />
        </Logger>
        
        
        <Logger name="org.apache.catalina.connector.ClientAbortException" level="error" additivity="false">
            <AppenderRef ref="file" />
        </Logger>
	
	    <!-- ******************************************************************* -->
	    <!-- ROOT LOGGER                                                         -->
	    <!-- ******************************************************************* -->
	
	    <Root level="error">
	        <AppenderRef ref="file" />
	        <AppenderRef ref="STDOUT" />
	    </Root>
    </Loggers>

</Configuration>
